.content {
  min-height: 98vh;
  height: 100%;
  width: 98vw;
  margin: 0 auto;
  padding: 0 6px;

  border-radius: 5px;
  background: linear-gradient(315deg, #ffffff, #e6e6e6);
  box-shadow: -5px -5px 26px #a6a6a6, 5px 5px 26px #ffffff;
}
